<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{url_for("static", filename="css/style.css")}}", type="text/css"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script type="text/javascript" src="{{url_for("static", filename="js/CollapsibleLists.js")}}"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3">
					<ul class="fa-ul collapsibleList">
						{%- for item in dir recursive %}
							<li {%- if item['children'] or item['files'] %} class="collapsible" {%- endif -%} > 
							{{item}}
							{%- if item['children'] %}
							<ul class="submenu toggle fa-ul">
							{{ loop(item['children']) }}
							</ul>
							{%- endif %} 
							{%- if item['files'] %}
							<ul class="submenu toggle ">
							{{ loop(item['files']) }}
							</ul>
							{%- endif %}</li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-9">
				</div>
			</div>
		</div>
	</body>
	
	<script type="text/javascript">
	CollapsibleLists.apply();
	</script>
</html>
